# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\OneDrive\Visual Studio\Github\Git_ManhPD5\kotlin\src\core\exercises\hello-world\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
